#####  Connecting to Postgres with Jupyter and Pandas

##### - keep postgres and jupyter running on different terminal

In [1]:
import pandas  as pd

```bash
pip install sqlalchemy  psycopg2-binary
```

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

engine.connect()

In [ ]:
query="""
SELECT 1 as number 
""""
pd.read_sql(query, con=engine)

In [ ]:
query="""
SELECT *
FROM pg_catalog.pg_tables
WHERE  schemaname !='pg_catalog' AND  schemaname!='information_schema'; 
""""
pd.read_sql(query, con=engine)

In [ ]:
df=pd.read_csv('yellow_taxi_data', nrows=100)

In [ ]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df.to_sql(name='yellow_taxi_data', con=engine, index=False)

In [ ]:
query="""
SELECT * FROM yellow_trip_data LIMIT 10
""""
pd.read_sql(query, con=engine)